<html xmlns:th="http://thymeleaf.org">
	<head>
		<title>Online Bank</title>
		<link rel="stylesheet" href="/css/transactions.css"/>
	</head>
	<body>
		<h2 th:if="${transactions != null}">Transaction History</h2>
		<table>
			<tr th:if="${transactions != null}">
				<th>ID</th>
				<th>Date</th>
				<th>Retailer</th>
				<th>Funds In</th>
				<th>Funds Out</th>
			</tr>
			<tr th:each="transaction : ${transactions}">
				<td><a th:href="@{/transactions/{transactionId}(transactionId=${transaction.id})}" th:inline="text">[[${transaction.id}]]</a></td>
				<td th:text="|${transaction.date}|"></td>
				<td th:inline="text">[[${transaction.retailer}]]</td>
				<td><div th:if="${transaction.type.equals('C')}"><span th:inline="text">[[${transaction.amount}]]</span></div></td>
				<td><div th:if="${transaction.type.equals('D')}"><span th:inline="text">[[${transaction.amount}]]</span></div></td>
			</tr>
			
		</table>
		
		<div th:if="${transaction != null}">
			<h2>
			<span th:inline="text">Transaction ID: [[${transaction.id}]] </span>
			<span th:if="${transaction.type.equals('C')}"><span th:inline="text">(Credit)</span></span>
			<span th:if="${transaction.type.equals('D')}"><span th:inline="text">(Debit)</span></span>
			</h2>
			<div th:text="|Date: ${transaction.date}|"></div>
			<div th:if="${transaction.type.equals('C')}">
				<span th:text="|Amount: ${transaction.amount * -1}|"></span>
			</div>
			<div th:if="${transaction.type.equals('D')}">
				<span th:text="|Amount: ${transaction.amount}|"></span>
			</div>
			<div th:text="|Description: ${transaction.description}|"></div>
			<div>
				<a th:href="@{../transactions}">back</a>
			</div>
		</div>
	</body>
</html>